*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
    height: 100vh;
    width: 100%;
    /* background-image: url(/colors.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 250px;
    height: 320px;
    border-radius: 40px;
    background-color: #0000ff;
    display: flex;
    align-items: center;
    padding: 50px 0;
    flex-direction: column;
    position: relative;
}

.top{
    width: 55%;
    height: 30px;
    backdrop-filter: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* background-color: rgb(184, 187, 187); */
}

.bottom{
    width: 55%;
    height: 80px;
    margin-top: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.plus{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    /* background-image: url(./picsart.jpg); */
    margin: 0 10px;
}
.minus{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.box{
    width: 85%;
    height: 50px;
    background-color: rgba(60, 59, 59, 0.775);
    display: flex;
    border-radius:5px  10px 10px 5px ;
    /* align-items: flex-end; */
    flex-direction: column;
    justify-content: center;
}
p{
    font-size: 13px;
    margin-left: 3px;
    color: #fff;
    font-weight: 600;
}b{
    color: #fff;
}
.col{
    width: 15%;
    height: 30px;
    display: flex;
    border-radius: 10px 0 0 10px;
    align-items: center;
    background-color: rgba(60, 59, 59, 0.775);
}


.menu{
    width: 23px;
    height: 20px;  
    position: absolute;
    top: 9px;
    right: 18px;
    
}

.menu > p{
    background-color: #ffffff;
    width: 20px;
    height: 3px;
    margin: 2px 0;
    
    border-radius: 8px;
     
}

.sidebar{
    width: 250px;
    height: 320px;
    border-radius: 40px;
    background-color: #0000003c;
    position: absolute;
    top: 0px;
    backdrop-filter: blur(5px);
    display: none;
    transition: .5s;

}
.sideBox{
    width: 250px;
    height: 295px;
    overflow-x: hidden;
    
}.sideBox::-webkit-scrollbar{
    display: none;
}

.back{
    position: absolute;
    font-size: 42px;
    font-weight: 300;
    transform: rotate(45deg);
    right: 13px;
    top: -13px;
}


.box-colors{
    width: 100%;
    height: 30px;
    margin: 2px 0;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}


.box-colors > b{
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.box-colors > p{
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.logoSidebar{
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoSidebar > h3{
    color: #fff;
}
.color1{
    width: 45px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
}
.color2{
    width: 45px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}
.color3{
    width: 45px;
    height: 30px;
    background-color: #8e85ee;
    border-radius: 50%;
}
.color4{
    width: 45px;
    height: 30px;
    background-color: #ff33c0;
    border-radius: 50%;
}
.color5{
    width: 45px;
    height: 30px;
    background-color: #ffff00;
    border-radius: 50%;
}
.color6{
    width: 45px;
    height: 30px;
    background-color: #c55a11;
    border-radius: 50%;
}
.color7{
    width: 45px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    
}
.color8{
    width: 45px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgb(141, 141, 141);
}
.color9{
    width: 45px;
    height: 30px;
    background-color: #0b930e;
    border-radius: 50%;
}
.color10{
    width: 45px;
    height: 30px;
    background-color: #808080;
    border-radius: 50%;
}
.color11{
    width: 45px;
    height: 30px;
    background-color:#f0ffff ;
    border-radius: 50%;
}
.color12{
    width: 45px;
    height: 30px;
    background-color: #8cee90;
    border-radius: 50%;
}
.color13{
    width: 45px;
    height: 30px;
    background-color: #800000;
    border-radius: 50%;
}
.color14{
    width: 45px;
    height: 30px;
    background-color: #00ff00;
    border-radius: 50%;
}
.color15{
    width: 45px;
    height: 30px;
    background-color:#f5deb3 ;
    border-radius: 50%;
}
.color16{
    width: 45px;
    height: 30px;
    background-color: #dee520;
    border-radius: 50%;
}
.color17{
    width: 45px;
    height: 30px;
    background-color:#fa8072 ;
    border-radius: 50%;
}
.color18{
    width: 45px;
    height: 30px;
    background-color: #7b3f00;
    border-radius: 50%;
}
.color19{
    width: 45px;
    height: 30px;
    background-color: #9e745b;
    border-radius: 50%;
}
.color20{
    width: 45px;
    height: 30px;
    background-color: #002060;
    border-radius: 50%;
}
.color21{
    width: 45px;
    height: 30px;
    background-color:#00ff7f ;
    border-radius: 50%;
}
.color22{
    width: 45px;
    height: 30px;
    background-color: #40e0d0;
    border-radius: 50%;
}
.color23{
    width: 45px;
    height: 30px;
    background-color: #00ffff;
    border-radius: 50%;
}
.color24{
    width: 45px;
    height: 30px;
    background-color:#dd133b ;
    border-radius: 50%;
}
.color25{
    width: 45px;
    height: 30px;
    background-color: #c0c0c0;
    border-radius: 50%;
}
.color26{
    width: 45px;
    height: 30px;
    background-color: #c00000;
    border-radius: 50%;
}
.color27{
    width: 45px;
    height: 30px;
    background-color: #000080;
    border-radius: 50%;
}
.color28{
    width: 45px;
    height: 30px;
    background-color: #da70d6;
    border-radius: 50%;
}
.color29{
    width: 45px;
    height: 30px;
    background-color: #008080;
    border-radius: 50%;
}
.color30{
    width: 45px;
    height: 30px;
    background-color: #cc0099;
    border-radius: 50%;
}
.color31{
    width: 45px;
    height: 30px;
    background-color: #fa4400;
    border-radius: 50%;
}


